# Gradle / Android
.gradle/
build/
/*/build/
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Kotlin/Native
.kotlin/

# Xcode / iOS
iosApp/build/
**/xcuserdata/
**/*.xcuserstate
**/DerivedData/
*.ipa
*.xcarchive

# macOS
.DS_Store
